*.swp
*~
*.o
*.lo
*.la
.libs
Makefile
config.h
config.log
config.status
*.pc
*.spec
libtool
stamp-h1
tags
krisp-config.h
krispcommon.h
m4/krisp.m4
scripts/krisp-config
stamp-h2
test/lookup
utils/krisplookup
utils/krispmkdb
